{% extends 'base.html' %}
{% block content %}
    {% load static %}  

    
    
    <div class="container1 text-center text-white">
      <h1><div class="col">Actual Position of ISS:</div></h1>
      <div class="row">
        <div class="col">
          <h4 style="padding: 20px"><span id="latitude">Latitude</span> <span id="letter1">N/S</span></h4>
        </div>
        <div class="col">
          <h4 style="padding: 20px"><span id="longitude">Longitude</span> <span id="letter2">W/E</span><h4>
        </div>
      </div>
    
   <div id="map" style="height: 500px; padding: 50px; box-shadow: 12px 12px 6px rgba(0, 0, 0, 0.5);"></div></div>
   
   <div class="row" style="padding: 50px">
    <div class="col"><h2 style="padding: 10px">Astronomy Picture of the Day:</h2></div>
    <a href="{% url 'nasa_photo' %}"><button type="button" style="padding: 10px; box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);" class="btn btn-outline-light ntn-lg">PHOTO</button></a>
    
    
<script>
function tracker() {
    $.get('/iss_ask', function(data) {         
            let longitude = data.longitude;
            let latitude = data.latitude;
            let letter1 = data.letter1;
            let letter2 = data.letter2;
            $('#longitude').text(data.longitude);
            $('#latitude').text(data.latitude);
            $('#letter1').text(data.letter1);
            $('#letter2').text(data.letter2);
            
            console.log("'longitude' wynosi: " + data.longitude);
            marker.setLatLng([latitude, longitude]);
        });
      }
setInterval(tracker, 1000);
      
let mymap = L.map('map').setView([{{ latitude }}, {{ longitude }}], 3);
let issIcon = L.icon({
            iconUrl: '{% static 'iss.png' %}',
            iconSize: [40, 40],
            iconAnchor: [25, 25]
        });
    
let marker = L.marker([0, 0], {icon: issIcon, title: "ISS International Station" }).addTo(mymap);  
    
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
    }).addTo(mymap);
</script>      
{% endblock %}