{% extends 'base.html' %}
{% block content %}
{% load static %}  

<div class="container1 text-center text-white">
  <h1><div class="col">Actual Position of ISS:</div></h1>
    <div class="row">
      
      <div class="col1">
        <h5 style="padding: 5px"><span id="latitude">Latitude</span><span id="letter1">N/S</span></h5>
        </div>
        <div class="col1">
        <h5 style="padding: 5px"><span id="longitude">Longitude</span><span id="letter2">W/E</span></h5>
        </div></div></div>
    
<div id="map"></div>
   
<div class="row" style="padding: 50px">
<div class="col"><h2 style="padding: 10px">Astronomy Picture of the Day:</h2></div>
<a href="{% url 'nasa_photo' %}"><button type="button" id="button1" class="btn btn-outline-light ntn-lg">photo</button></a>
    
<script>
function tracker() {                                  //function that ask iss_ask view for data and set marker.setLatLng
    $.get('/iss_ask', function(data) {         
            let longitude = data.longitude;
            let latitude = data.latitude;
            let letter1 = data.letter1;
            let letter2 = data.letter2;
            $('#longitude').text(data.longitude);
            $('#latitude').text(data.latitude);
            $('#letter1').text(data.letter1);
            $('#letter2').text(data.letter2);
            marker.setLatLng([latitude, longitude]);
        });
      }
setInterval(tracker, 1000);                          // funcion that call tracker() function ecery second
      
let mymap = L.map('map').setView([{{ latitude }}, {{ longitude }}], 3);   // starting view of map 
let issIcon = L.icon({                                                    // specification of ISS icon 
            iconUrl: '{% static 'iss.png' %}',
            iconSize: [40, 40],
            iconAnchor: [25, 25]
        });
    
let marker = L.marker([0, 0], {icon: issIcon, title: "ISS International Space Station" }).addTo(mymap);  //adding icon marker on the map
    
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',                                   // Attribution for the map data and imagery
        maxZoom: 18,
    }).addTo(mymap);
</script>      
{% endblock %}
