<!DOCTYPE html>
<html>
  <head>
    <title>Poruszający się punkt na mapie świata</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/leaflet-moving-marker/2.7.6/moving-marker.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
  <body>
    
    <h2>{{ latitude }} : {{ longitude }}</h2>
   
    <h3>Długość:<span id="longitude"></span></h3>
    
    <div id="map" style="height: 500px;"></div>
    
    <script>
       
      function aktualizujZmienna() {
            $.get('/iss_ask', function(data) {
                let longitude = data.longitude;
                let latitude = data.latitude;
                $('#longitude').text(data.longitude,data.latitude);
                console.log("Zmienna 'longitude' wynosi: " + data.longitude);
                marker.setLatLng([latitude, longitude]);
            });
          }
          
        setInterval(aktualizujZmienna, 1000);
    
        var mymap = L.map('map').setView([{{ latitude }}, {{ longitude }}], 3);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
        }).addTo(mymap);
        
       var marker = L.marker([0, 0], { title: "ISS International Station" }).addTo(mymap);
    </script>
  </body>
</html>