{% extends 'base.html' %}


{% block content %}
<div class="container text-center text-white">
    <div class="row">
      <div class="col">
        <a href="{% url 'index' %}">Back to ISS Tracker</a>
      </div>
    </div>
<div style="padding:30px"><h1>Astronomy Picture of the Day</h1></div>
<div class="container-md text-center p-5 my-5 text-white" border>
<h2>{{ title }}</h2>
    <a href="{% url 'fullhd' %}">
    <img id="photo" src="{{ hdurl }}" alt="FullHD" target="_blank" class="img-fluid"> 
    </a></div>
    
    
    <h4>{{ explanation }}</h4>
    <h5>copyright: {{ copyright }}</h5>
  
    
    
    {% endblock %}















