.container {
    max-width: 800px;
    background: linear-gradient(to bottom, #57737a, #22223b);
    border:1px solid #f4f4f7;
    font-family: 'Orbitron', sans-serif;
   
    }    
#photo{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    }      
.col1 {
        width: 50%;
        float: left;
        box-sizing: border-box;
      }

#letter1 {
    color: #b4acac;
}      

#letter2{
    color: #b4acac;
}      

#map {
    height: 500px;
    padding: 50px;
    box-shadow: 12px 12px 6px rgba(0, 0, 0, 0.5);
}

#button1 {
    padding:10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
}

#button2 {
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
}
